[Unit]
Description= Assignment-6
# ConditionPathExists=/opt/Assignment3-0.0.1-SNAPSHOT.jar
Requires=cloud-init.service
After=cloud-final.service

[Service]
Type=simple
User=csye6225
Group=csye6225
#WorkingDirectory=/opt
ExecStart= java -jar /opt/webapp/Assignment3-0.0.1-SNAPSHOT.jar --spring.config.name=application --spring.config.location=file:/opt/application.properties
StandardOutput=append:/var/log/webapp.log
StandardError=append:/var/log/webapp-error.log
Restart=always


[Install]
WantedBy=cloud-init.target
